@import "../../common/colors.js";
@import "../../common/constants.js";
.wrapper {
  background-color: white;
  height: 600px;
  width: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: "row";
}
.heading {
  font-size: large;
  font-weight: 600;
  padding: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
}
.login,
.signup {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
.btn {
  height: 60px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px rgb(254, 215, 188);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(to right,
          rgb(255, 195, 110),
          rgb(255, 146, 91));
  position: absolute;
  top: 60px;
  left: 100px;
  transition: all 0.5s ease-in-out;
}

.moveslider {
  left: 250px;
}
.form {
  display: flex;
  flex-direction: column;
  height:100%;
  width: 300px;

}
.forms {
  height: 400px;
}
input,select {

    height:40px;
    margin-bottom: 10px;
    border-radius: 20px;
    text-align: center;
}
button {
  height :40px;
  border-radius: 20px;
   background-color: rgb(255, 146, 91);
}
.error {
  color:red;
  font-size: 11px;
}